<button type="button" id="sortOrder" data-toggle="button" class="btn btn-primary"><span class="glyphicon glyphicon-sort-by-attributes"></span>
Tri inverse
</button>
<button id='orderby-frequency' class="btn btn-primary"> Trier par fréquence</button>
<button id='orderby-due_date' class="btn btn-primary"> Trier par date d'échéance</button>
<button id='orderby-creation_date' class="btn btn-primary"> Trier par date de création</button>
<button id='orderby-title' class="btn btn-primary"> Trier par titre</button>
